/* Coolors Exported Palette - https://coolors.co/262523-774b2a-696968-532f17-906340 */

/* CSS HEX */
--eerie-black: #262523ff;
--kobicha: #774b2aff;
--dim-gray: #696968ff;
--seal-brown: #532f17ff;
--coyote-brown: #906340ff;

/* CSS HSL */
--eerie-black: hsla(40, 4%, 14%, 1);
--kobicha: hsla(26, 48%, 32%, 1);
--dim-gray: hsla(60, 0%, 41%, 1);
--seal-brown: hsla(24, 57%, 21%, 1);
--coyote-brown: hsla(26, 38%, 41%, 1);

/* SCSS HEX */
$eerie-black: #262523ff;
$kobicha: #774b2aff;
$dim-gray: #696968ff;
$seal-brown: #532f17ff;
$coyote-brown: #906340ff;

/* SCSS HSL */
$eerie-black: hsla(40, 4%, 14%, 1);
$kobicha: hsla(26, 48%, 32%, 1);
$dim-gray: hsla(60, 0%, 41%, 1);
$seal-brown: hsla(24, 57%, 21%, 1);
$coyote-brown: hsla(26, 38%, 41%, 1);

/* SCSS RGB */
$eerie-black: rgba(38, 37, 35, 1);
$kobicha: rgba(119, 75, 42, 1);
$dim-gray: rgba(105, 105, 104, 1);
$seal-brown: rgba(83, 47, 23, 1);
$coyote-brown: rgba(144, 99, 64, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #262523ff, #774b2aff, #696968ff, #532f17ff, #906340ff);
$gradient-right: linear-gradient(90deg, #262523ff, #774b2aff, #696968ff, #532f17ff, #906340ff);
$gradient-bottom: linear-gradient(180deg, #262523ff, #774b2aff, #696968ff, #532f17ff, #906340ff);
$gradient-left: linear-gradient(270deg, #262523ff, #774b2aff, #696968ff, #532f17ff, #906340ff);
$gradient-top-right: linear-gradient(45deg, #262523ff, #774b2aff, #696968ff, #532f17ff, #906340ff);
$gradient-bottom-right: linear-gradient(135deg, #262523ff, #774b2aff, #696968ff, #532f17ff, #906340ff);
$gradient-top-left: linear-gradient(225deg, #262523ff, #774b2aff, #696968ff, #532f17ff, #906340ff);
$gradient-bottom-left: linear-gradient(315deg, #262523ff, #774b2aff, #696968ff, #532f17ff, #906340ff);
$gradient-radial: radial-gradient(#262523ff, #774b2aff, #696968ff, #532f17ff, #906340ff);